@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(120, 251, 234);
  background: linear-gradient(
    180deg,
    rgba(120, 251, 234, 1) 0%,
    rgba(100, 165, 221, 1) 23%,
    rgba(47, 91, 111, 1) 100%
  );
}

nav {
  display: flex;
  gap: 20px;
}

nav a {
  font-size: 18px;
  text-decoration: none;
  line-height: 4;
  color: white;
  text-shadow: #333 2px 2px;
}

nav a:hover {
  color: orange;
}

.social-panel a {
  font-size: 18px;
  text-decoration: none;
  line-height: 4;
  color: white;
}

.social-panel img {
  width: 32px;
}

.column-container {
  padding: 30px;
  background: rgba(47, 91, 111, 1);
  display: flex;
}

.column-container h2 {
  color: white;
}

.column-container p {
  margin-top: 30px;
  color: white;
}

.column-40 {
  width: 40%;
}

.column {
  width: 50%;
}

.column-60 {
  width: 60%;
}

.column-40 img,
.column-60 img,
.column img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.button-full {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  color: rgba(47, 91, 111, 1);
  font-size: 21px;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
}

.button-hollow {
  background-color: transparent;
  padding: 20px;
  border: 2px white solid;
  border-radius: 10px;
  color: white;
  font-size: 21px;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
}

.key-features {
  padding: 30px;
  display: flex;
  background-color: #333;
  color: white;
  width: 100%;
  justify-content: space-around;
}

.key-features .column-30 {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news {
  display: flex;
  background-color: black;
  color: white;
  padding: 30px;
  gap: 30px;
}

.news-column {
  background-color: purple;
  padding: 30px;
  border-radius: 30px;
}

.news p {
  margin-top: 30px;
}
